
@model Company
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Auth/Views/Shared/_LayoutAuth.cshtml";
    var message = CUtils.StrValue(ViewBag.message);
}


@section StyleSheet {
    <style>
        .container-admin {
            font-size: 13px;
        }

            .container-admin .header-admin {
                margin: 0 8px;
                margin-bottom: 12px;
                font-size: 24px;
                font-weight: lighter;
                color: #2679b5;
                border-bottom: 1px dotted #e2e2e2;
                padding-bottom: 16px;
                padding-top: 7px;
            }

            .container-admin .header-table {
                padding: 12px;
                background-color: #EFF3F8;
                display: flex;
                justify-content: space-between;
            }

        .input-number {
            width: 78px;
        }

        .form-group .btn {
            margin-left: 16px;
        }

        .box-input {
            display: flex;
            flex-direction: column;
        }

        .text-danger {
            margin-top: 8px;
        }
    </style>
}

<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Home</a>
    </li>
    <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
    <li><a href="@Url.Action("Index", "Company")">Thông tin liên hệ</a></li>
</ul>

<div class="container-admin">
    <div class="header-admin">Sửa thông tin liên hệ</div>
    <div class="content-admin">
        <div class="content-table">
            @using (Html.BeginForm("Update", "Company", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal", onsubmit = "checkValid(event)" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-Left" for="form-field-1">
                        Tên công ty:
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type='hidden' name="CompanyId" value="@Model.CompanyId" />
                        <input type='text' name="CompanyName" value="@Model.CompanyName" oninput="validateEmpty(event)" />
                        <div class="text-danger"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-Left" for="form-field-1">
                        Hotline:
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type='text' name="CompanyHotline" value="@Model.CompanyHotline" oninput="validateEmpty(event)" />
                        <div class="text-danger"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-Left" for="form-field-1">
                        Email liên hệ:
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type='text' name="CompanyMail" value="@Model.CompanyMail" oninput="validateEmpty(event)" />
                        <div class="text-danger"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-Left" for="form-field-1">
                        Địa chỉ Facebook:
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type='text' name="CompanyFace" value="@Model.CompanyFace" oninput="validateEmpty(event)" />
                        <div class="text-danger"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-Left" for="form-field-1">
                        Địa chỉ Google+:
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type='text' name="CompanyGoogle" value="@Model.CompanyGoogle" oninput="validateEmpty(event)" />
                        <div class="text-danger"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-Left" for="form-field-1">
                        Địa chỉ Youtube:
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type='text' name="CompanyYoutube" value="@Model.CompanyYoutube" oninput="validateEmpty(event)" />
                        <div class="text-danger"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Nội dung
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type="hidden" name="CompanyInfo" id="company_info" />
                        <textarea type="text" id="CompanyInfo" rows="2" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)">@Model.CompanyInfo</textarea>
                        <div class="text-danger"></div>
                    </div>
                </div>

                <button type="submit" id="btn_submit_save" class="btn btn-success">Lưu</button>
            }
        </div>
    </div>

</div>
@section Scripts {
    <script src="https://cdn.tiny.cloud/1/xpexkui2wt6x0dv6vwafp5mt3v4o8z3pxc81q1nxtlfb4ik4/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/Content/js/ckfinder/ckfinder.js"></script>
    <!-- Script to wire up your TinyMCE editor -->
    <script type="text/javascript">
        /*tinymce.init({
            selector: "#CompanyInfo",
            init_instance_callback: function (editor) {
                editor.on('input', function (e) {
                    var value = tinymce.get("CompanyInfo").getContent();
                    var div = document.createElement("div");
                    div.innerHTML = value;
                    var text = div.textContent || div.innerText || "";
                    $('#company_info').val(text);
                });
            }
        });*/
        tinymce.init({
            selector: "#CompanyInfo",
            plugins: 'code',
            init_instance_callback: function (editor) {
                editor.on('input', function (e) {
                    var value = tinymce.get("CompanyInfo").getContent();
                    $('#company_info').val(value);
                });
            }
        });

        function ChooseImage(e) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $('#NewLeftImage').val(fileUrl);
            }
            finder.popup();
        }
    </script>
    <script>
        $('#btn_submit_save').click(function () {
            $("#manageForm").attr("action", '@Url.ActionLocalized("Update")').submit();
        });

        function validateEmpty(e) {
            if ($(e.target).val() == '') {
                $(e.target).next().text('Bạn không được để trống');
            } else {
                $(e.target).next().text('');
            }
        }

        function checkValid(e) {
            var inputs = $('input, textarea');
            var bug = 0;

            for (var i = 1; i < inputs.length; i++) {
                if ($(inputs[i]).val() == '' && $(inputs[i]).attr('id') != 'company_info') {
                    $(inputs[i]).next().text('Bạn không được để trống');
                    bug++;
                }
            }

            if (bug > 0) {
                e.preventDefault();
            } else {
                return true;
            }
        }

        var message = '@MvcHtmlString.Create(message)';

        $(document).ready(function () {
            if (message.trim() != null && message.trim() != '') {
                alert(message);
            }
        })
    </script>
}

