@using idn.AnPhu.Biz.Models
@model idn.AnPhu.Biz.Models.VideoCategory
@{
    ViewBag.Title = "ListVideoByCate";
    Layout = "~/Views/Shared/_ViewsLayout.cshtml";
    var listcate = ViewBag.ListCates;
    //int htmlpageid = ViewBag.HtmlPageId;
}
<script>
    $(document).ready(function () {
        $('.htmlpage-content img').addClass('img-responsive');
    });
</script>

<div class="container" style="margin-bottom: 20px">
    <div class="" style="background-color:#f2f3f3; height:17px;">
        <a href="/" class="col-sm-1 no-padding width-forma-house" style=" font-size:12px; padding-right:0">
            <img src="~/Images/forma-house2.png" />
        </a>
        <a class="col-sm-1 no-padding padding-detail" href="@Url.Action("ServicesSub", "HtmlPage")" style="font-size:12px;padding-top:3px;"> > Video</a>
    </div>
</div>




<div class="container">
    @if (listcate.Count > 0 && listcate != null)
    {
        <div class="row no-margin " style="margin-top:14px; display: flex">
            @{
                foreach (VideoCategory item1 in listcate)
                {
                    var check = item1;
                    var abc = Model;
                    var n = 1;
                    if (n == 1)
                    {
                        if (item1.VideoCategoryId == @Model.VideoCategoryId)

                        {
                            <a class="col-md-6 col-xs-6 title-submenu submenu active" href="@Url.Action("ServicesSub", "HtmlPage", new {HtmlPageCateId = item1.VideoCategoryId, shortname = item1.VideoCategoryShortName, htmlpageid = item1.ParentId})">
                                @item1.VideoCategoryTitle
                            </a>
                        }
                        else
                        {
                            <a class="col-md-6 col-xs-6 title-submenu submenu " href="@Url.Action("ServicesSub", "HtmlPage", new {HtmlPageCateId = item1.VideoCategoryId, shortname = item1.VideoCategoryShortName, htmlpageid = item1.ParentId})">
                                @item1.VideoCategoryTitle
                            </a>
                        }
                    }
                    n++;
                }
            }
        </div>
    }
</div>

<div class="col-sm-12 no-padding htmlpage-details">

</div>

<div class="container">
    <div class="col-sm-12 no-padding ">
        @if (Model.ListVideo.Count > 7)
        {
            if (Model.ListVideo.Count == 1)
            {
                <div class="col-md-12" style="background:white">
                    abccc
                    @*@MvcHtmlString.Create(Model.ListVideo[0].HtmlPageBody)*@
                </div>
            }
        }
        else
        {
    <div class="col-md-12 no-padding margintop20" style="margin-top: 30px">
        @foreach (Video item in Model.ListVideo)
        {
            if (item.VideoTitle.Length < 37)
            {

                @*<div class="col-md-4 col-xs-6 itemvideo no-padding" style="" data-toggle="modal" data-target="#basicModal">
                    <a class="various fancybox.iframe"
                       href="https://www.youtube.com/v/0c6TuzvCZMQ?fs=1&amp;autoplay=1">
                        <img class="img-responsive"
                             id="0c6TuzvCZMQ"
                             src="@item.VideoThumbnail" />
                        <div>
                            <h2 id="overflowvideo"
                                class="col-md-12"
                                style="margin: 10px 0 0 5px;text-align: left;font-size: 16px;color: #333333;">
                                @item.VideoTitle;
                            </h2>
                        </div>
                        <div>
                            <h2 class="col-md-12"
                                style="font-size: 10px;margin: 5px 0 0 5px;text-align: left;color: #cacaca;">
                                @item.CreateDate; | Giới thiệu xe
                            </h2>
                        </div>
                    </a>
                </div>*@

                <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Basic Modal</h4>
                            </div>
                            <div class="modal-body">
                                <h3>Modal Body</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-4 col-xs-6 itemvideo no-padding" style="" data-toggle="modal" data-target="#basicModal">
                    <a class="various fancybox.iframe" autoplay="1">
                        <img class="img-responsive"
                             id="0c6TuzvCZMQ"
                             src="@item.VideoThumbnail" />    
                        <div>
                            <h2 id="overflowvideo"
                                class="col-md-12"
                                style="margin: 10px 0 0 5px;text-align: left;font-size: 16px;color: #333333;">
                                @item.VideoTitle
                            </h2>
                        </div>
                        <div>
                            <h2 class="col-md-12"
                                style="font-size: 10px;margin: 5px 0 0 5px;text-align: left;color: #cacaca;">
                                @item.CreateDate | Giới thiệu xe
                            </h2>
                        </div>
                    </a>

                </div>
                <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog" style=" height: 100%; display: flex; width: 100%; align-content: center; justify-content: center;">
                        <div class="modal-content" style="width: 70%;height: 60%">
                            <div class="modal-header    ">
                                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                                <a title="Close" class="fancybox-item fancybox-close" class="close" data-dismiss="modal" aria-hidden="true" style="position: absolute; top: -18px; right: -18px; width: 36px; height: 36px; cursor: pointer; z-index: 8040; background-image: url('http://hyundaicaudien.vn/Content/fancybox/fancybox_sprite.png') "></a>
                            </div>
                            <div class="modal-body">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0xAW6MAT_Wo?si=OAJ16v0sR7_sB1cS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>

                        </div>
                    </div>
                </div>
            }
        }
    </div>
        }
    </div>
</div>