
@model List<AdBannerLefts>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Auth/Views/Shared/_LayoutAuth.cshtml";
    var message = CUtils.StrValue(ViewBag.message);
}

@section StyleSheet {
    <style>
        .header-admin {
            margin: 0 8px;
            margin-bottom: 12px;
            font-size: 24px;
            font-weight: lighter;
            color: #2679b5;
            border-bottom: 1px dotted #e2e2e2;
            padding-bottom: 16px;
            padding-top: 7px;
        }

        .header-table {
            padding: 12px;
            background-color: #EFF3F8;
            display: flex;
            justify-content: space-between;
        }

        .paginate {
            display: flex;
            justify-content: space-between;
            background-color: #EFF3F8;
            padding: 20px;
        }

        .dataTables_wrapper .row:last-child, .dataTables_wrapper .row:first-child {
            display: none !important;
        }

        /*.table > thead > tr > th:last-child::after {
            display: none;
        }*/
        .display-none {
            display: none !important;
        }

        .width-114 {
            width: 114px !important;
        }
    </style>

}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
        <li><a href="@Url.Action("Index", "AdBannerLefts")">Thông tin Banner Trái</a></li>
    </ul>
</div>
<div class="main-container" id="main-container">
    <div class="header-admin">Thông tin Banner Trái</div>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div>
                                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Tên Banner Trái</th>
                                                <th>Ảnh Banner Trái</th>
                                                <th>Link Banner Trái</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (AdBannerLefts item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.AdLeftName
                                                    </td>
                                                    <td>@item.AdLeftImage</td>
                                                    <td>@item.AdLeftLink</td>
                                                    <td>
                                                        @if (item.IsActive == true)
                                                        {
                                                            <span class="label label-sm label-success">Is Active</span>

                                                        }
                                                        else
                                                        {
                                                            <span class="label label-sm label-danger">UnActive</span>

                                                        }
                                                    </td>
                                                    <td>
                                                        <div class="hidden-sm hidden-xs action-buttons">
                                                            <button class="btn btn-xs btn-info" onclick="window.location.href='/vi/quan-tri/new-Left-banner/update?id='+ @item.AdLeftId">
                                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                            </button>
                                                        </div>

                                                        <div class="hidden-md hidden-lg">
                                                            <div class="inline pos-rel">
                                                                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                                    <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                                </button>

                                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-Left dropdown-caret dropdown-close">
                                                                    <li>
                                                                        <a href="'/vi/quan-tri/new-Left-banner/update?id='+ @item.AdLeftId" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                            <span class="green">
                                                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
@section Scripts {
    <script>
    $(document).ready(function () {
        if (message.trim() != null && message.trim() != '') {
            alert(message);
        }
    })
    </script>
}


